h2 {
  margin-top: -920px;
  margin-left: 365px;
  position: absolute;
}

h3 {
  margin-top: -30px;
}
.alert{
  position: absolute;
}

.alert, #alertsave{
  display:none;
  height: 150px;
  margin-top: -700px;
  margin-left: 408px;
  margin-bottom: 300px;
  position: fixed;
  width: 400px;
}

.alertpopup {
  color: red;
  display: none;
  margin-bottom: -20px;
}

.focus {
  border: 1px solid red;
}

.glyphicon {
	color: red;
	float: right;
	cursor: pointer;
}

.id {
  padding: 5px;
  content: center;
}

.left > #table {
  align-content: center;
  border: 2px solid lightgray;
  border-radius: 3px;
  background-color: lightgray;
  box-shadow: -1px 3px 20px 8px rgba(0,0,0,0.75);
  float: left;
  height: 420, auto;
  margin: 50px;
  margin-top: -880px;
  margin-left: 370px;
  padding: 30px;
  position: absolute;
  width: 500px;
}

.img-rounded {
  margin-top: 50px;
  margin-right: 30px;
}

.right {
  float: right;
  margin: 0px;
  margin-top: -840px;
  margin-left: 436px;
  margin-bottom: 5px;
  padding: 30px;
  position: fixed;
  display: none;
  z-index: 1;
}

#bottom {
  border: 1px solid lightgray;
  box-shadow: -1px 3px 20px 8px rgba(0,0,0,0.75);
  display: ;
  height: 530px;
  margin-top: -40px;
  margin-left: -200px;
  margin-bottom: 30px;
  position: fixed;
  width: 700px;

}
#imagebottom {
  background-color: black;
  height: 280px;
  margin-top: 0px;
  margin-right: 0px;

}

#top {
  border: 2px solid gray;
  background-color: gray;
  border-radius: 3px;
  float: right;
  height: 470px;
  margin: 0px;
  margin-top: 0px;
  margin-left: -96px;
  padding: 30px;
  position: absolute;
  width: 500px;
  display: ;
}

#submit {
  margin-left: 32px;
}

#Save {
  margin-right: 0px;
  margin-left: -10px;
}
